.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: $color-grey-dark-3;
  color: $color-grey-light-2;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__layout {
    display: flex;
    justify-content: space-around;
  }

  &__navigation-box {
    flex: 0 0 40%;
    text-align: right;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    display: inline-block;
    padding-top: 2rem;
  }

  &__items {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s ease;
      display: inline-block;
    }

    &:hover {
      color: $color-primary;
      transform: scale(1.15);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }

    &:focus,
    &:active {
      outline: none;
      animation: moveUp linear 1.2s infinite;
    }
  }

  &__copyright-box {
    flex: 0 0 40%;
  }

  &__copyright {
    width: 80%;
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
  }
}
